.inputbox {
    display: flex;

    padding: 10px;
    margin-top: 25px;
    padding-left: 30px;

    border-bottom: var(--highlight-color) solid 1px;
}

.logo-container {
    transform: translateY(-10px);
}

.logo-container > p {
    font-size: 15px;
    color: var(--highlight-color);
    user-select: none;
    transition: 400ms;
}

.logo {
    font-size: 50px !important;
    margin-right: 20px;
    color: var(--highlight-color);
    transition: 400ms;
}

.inputbox > form {
    display: inline-block;
    width: 85%;
}

.inputbox-form > TextArea {
    width: 100%;
    border: none;

    padding: 10px;

    border-bottom: var(--highlight-color) solid 1px;
    background-color: var(--background-color);

    resize: none;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    color: white;
    transition: 200ms;
}

TextArea:hover {
    outline: none;
    background-color: var(--selected-color);
    transition: 200ms;
}

TextArea:focus {
    outline: none;
    background-color: var(--selected-color);
    border-bottom: white solid 1px;
    transition: 400ms;
}

.inputbox-buttons {
    display: flex;
    align-items: center;

    padding: 0 10px;
    height: 40px;

    color: var(--highlight-color);
    transition: 200ms;
}

.inputbox-button:hover {
    color: white;
    cursor: pointer;
    transition: 200ms;
}

.inputbox-button-active {
    color: white;
    cursor: pointer;
}

.inputbox-submit {
    position: absolute !important;
    right: 25vw;
    
    border: var(--highlight-color) 1px solid !important;
    background-color: var(--background-color) !important;

    color: white !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    text-transform: none !important;

    margin-top: 8px !important;

    height: 30px !important;
    width: 100px !important;
    transition: 200ms;
}

.inputbox-submit:hover {
    background-color: var(--selected-color) !important;
    transition: 200ms;
}