.app {
    --background-color: #212121;
    --selected-color: #464646;
    --highlight-color: #6C6C6C;
    --error-highlight-color: rgb(255, 65, 65);
    --error-color: rgb(150, 65, 65);
    display: flex;
    width: 100%;
}

.content{
    justify-self: center;
    min-height: 100vh;
    width: clamp(1000px, 60%, 2500px);
    overflow: hidden;
}