.navbar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 20%;
    border-right: var(--highlight-color) 1px solid;
    z-index: 99;
    background-color: var(--background-color);
}

.account-tab {
    display: flex;
    align-items: center;

    border-bottom: var(--highlight-color) solid 1px;

    padding: 20px;
    margin-bottom: 20px;
}

.account-tab > h2 {
    font-weight: 300;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-icon {
    margin-right: 15px;
    cursor: pointer;
}

.disabled-link {
    pointer-events: none;
}