.search {
    justify-self: flex-end;
    height: 100vh;
    width: clamp(150px, 20%, 500px);
    background-color: var(--background-color);
}

.search-header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.search-header > .MuiSvgIcon-root {
    margin-right: 10px;
    font-size: 25px;
}

.search-header > form {
    width: 100%;
}

.search-input > input {
    width: 90%;
    border: none;

    padding: 10px;

    border-bottom: var(--highlight-color) solid 1px;
    background-color: var(--background-color);

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    resize: none;

    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    color: white;
    transition: 200ms;
}

.search-input > input:hover {
    outline: none;
    background-color: var(--selected-color);
    transition: 200ms;
}

.search-input > input:focus {
    outline: none;
    background-color: var(--selected-color);
    border-bottom: white solid 1px;
    transition: 400ms;
}

.user-row-container {
    padding-left: 25px;
    padding-top: 5px;
}

.user-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.user-row-pic {
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
}